<hr>
{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    {{ interests.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests.info %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

  <div class="cv-download">
    <a href="{{ site.baseurl }}/assets/images/Laxmi.pdf" class="download-btn" download>Download CV</a>
  </div>
  
</div><!--//interests-->
{% endif %}

<style>
  .cv-download .download-btn {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      background-color: #ff7f00; /* Orange background */
      border: none;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s ease;
      margin-top: 15px;
  }

  .cv-download .download-btn:hover {
      background-color: #e66a00; /* Darker shade of orange on hover */
  }
</style>
